<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../../../../static/css/styles.css">

</head>
<body>
    <header>
        <img class="logo" src="../../../../static/img/photo.png"
             alt="logo/photo.png"/>
        <div class="headerContact">+7-8352-20-12-09, telegram</div>
        <label class="headerIntOut">
            <span class="label__title">Email:</span>
            <input class="label__input" type="email" placeholder="email@domain.com" required>
            <span class="label__hint">Form field hint</span>
         </label>
        <div class="headerText">Электронная сервисная книжка "Мой Силант"</div>
    </header>
    <content class="content">

        <div>Проверьте комплектацию и технические характеристики техники
        Силант</div>
        <div>Результат поиска:</div>
    </content>
    <footer>
        <div>+7-8352-20-12-09, telegram</div>
        <div>Мой Силант 2024</div>
    </footer>
</body>
</html>