<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../static/css/styles.css">
    <link rel="shortcut icon" href="../../../static/img/Logotype_RGB_1.jpg" type="image/jpg">
    <title>{% block title %}{% endblock title %}</title>

</head>
<body>
    <header>
        <div>
            <img class="logo" src="{% static 'img/photo.svg' %}" alt="Logo" />
        </div>
       <div class="headerContact">
            <div class="contact">+7-8352-20-12-09, telegram</div>
            <div class="headerText">
                Электронная сервисная книжка
                <span class="headerTextMob">"Мой Силант"</span>
            </div>

       </div>
        {% if not request.user.is_authenticated %}
            <a href="{% url 'login' %}" ><button class="headerIntOutButton">Log In</button></a>
        {% else %}
            <a href="{% url 'logout' %}" ><button class="headerIntOutButton">Log Out</button></a>
        {% endif %}
    </header>

    <content class="content">
        {% block user %}{% endblock user %}
        {% block filter %}{% endblock filter %}


        <div>
            Проверьте комплектацию и технические характеристики техники Силант
        </div>

        <div>Результат поиска:</div>
        <div>

            {% block content %}{% endblock content %}


        </div>


    </content>




    <footer class="footer">
        <div>+7-8352-20-12-09, telegram</div>
        <div>Мой Силант 2024</div>
    </footer>
</body>
</html>