<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../static/css/styles.css">
    <title>{% block title %}{% endblock title %}</title>

</head>
<body>
    <header>
        <div>
            <img class="logo" src="{% static 'img/photo.svg' %}" alt="Logo" />
        </div>
       <div class="headerContact">
            <div class="contact">+7-8352-20-12-09, telegram</div>
            <div class="headerText">Электронная сервисная книжка "Мой Силант"
            </div>
            <div class="headerTextMob">Электронная сервисная книжка
            </div>
       </div>

         <label class="headerIntOut">
            <span class="label__title">Email:</span>
            <input class="label__input" type="email" placeholder="email@domain.com" required>
            <span class="label__hint">Form field hint</span>
         </label>

    </header>
    <content class="content">

        <div>Проверьте комплектацию и технические характеристики техники
        Силант
                RoleSet
        </div>

        <div>Результат поиска:</div>
<!--        <div>-->

<!--        {% block content %}-->
<!--        {% endblock content %}-->

<!--        </div>-->


    </content>




    <footer class="footer">
        <div>+7-8352-20-12-09, telegram</div>
        <div>Мой Силант 2024</div>
    </footer>
</body>
</html>