@font-face {
    src: url('../fonts/PT-Astra-Sans_Bold-Italic.ttf') format('opentype');
    font-family: 'PT-Astra-Sans_Bold-Italic';
}

@font-face {
    src: url('../fonts/PT-Astra-Sans_Bold.ttf') format('opentype');
    font-family: 'PT-Astra-Sans_Bold';
}

@font-face {
    src: url('../fonts/PT-Astra-Sans_Italic.ttf') format('opentype');
    font-family: 'PT-Astra-Sans_Italic';
}

@font-face {
    src: url('../fonts/PT-Astra-Sans_Regular.ttf') format('opentype');
    font-family: 'PT-Astra-Sans_Regular';
}

body, html {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
    grid-row-gap: 1em;
  /*Цвета: #163E6C, #D20A11, #EBE6D6.*/
    /*background: #EBE6D6;*/
    width: 100%;
    margin: 0;
}

header {
    display: flex;
    color: #163E6C;
    background: #EBE6D6;
    border: 2px solid #163E6C;
    font-family: PT-Astra-Sans_Bold-Italic, Arial, Helvetica, sans-serif;
    height: 100px;
    justify-content: space-between;
    border-radius: 5px;
    padding: 20px 20px 1px 20px;
}

.logo {
    width: 70%;
    height: 70%;
}
.headerContact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 2;
    align-items: center;
    padding: 10px 10px 15px 0px;
    font-family: 'PT-Astra-Sans_Regular', serif;
    font-size: 20px;
}

.headerText {
    font-family: 'PT Astra Sans Bold Italic', serif;
    font-size: 34px;
}

.headerTextMob {
    font-family: 'PT Astra Sans Bold Italic', serif;
    font-size: 34px;
}

.headerIntOutButton {
    width: 100px;
    height: 40px;
    padding-right: 20px;
    font-size: 18px;
    font-family: 'PT Astra Sans Regular', serif;
    color: #001d5c;
    background: #EBE6D6;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

/*Цвета: #163E6C, #D20A11, #EBE6D6.
    адаптивной — основные разрешения экранов:
    1920x1080, 1366x768, 1536x864, 1440x900, 360x640;
*/
.content {
    display: flex;
    flex-direction: column;
    color: #163E6C;
    background: #EBE6D6;

    padding: 10px ;
    border: 2px solid #163E6C;
    border-radius: 10px;
    height: 100%;
}

/*
==========================================================

*/

/*Таблица */
.div {
    max-width: 100%;
}
.table {
    border: 1px solid grey;
    max-width: 100em;
    font-family: 'PT-Astra-Sans_Regular', Arial, Helvetica, sans-serif;

    width: 100%;
}

th {
    border: 1px solid grey;
}

td {
    border: 1px solid grey;
    padding: 5px;
    scroll-margin-right: revert;
}

tr {
    font-size: small;
    scroll-margin-right: revert;
}

.tr_1 {
    background-color: #d7d8da;
}

.tr_2 {
    background-color: white;
    font-family: 'PT-Astra-Sans_Bold-Italic', Arial, Helvetica, sans-serif;
}
.tableContainerButton {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
.tr_3 {


    width: 80%;
    border: 1px solid red;
    max-width: 1em;
    overflow: hidden;
    background: #1A01CC;


    /*max-height: 18px;*/
    /*overflow: auto;*/
    /*max-content: 18px;*/
}
.tableButton {
    width: 100px;
    height: 30px;
    padding-right: 20px;
    font-size: 15px;
    font-family: 'PT Astra Sans Regular', serif;
    color: #001d5c;
    background: #EBE6D6;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
/*__~~~~~~_*/


footer {
    display: flex;
    color: #163E6C;
    background: #EBE6D6;
    border: 2px solid #163E6C;
    justify-content: space-between;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
    font-family: 'PT Astra Sans Bold Italic', serif;
    font-size: 24px;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}

/*++++================================================================*/

/* Разрешение экрана: 1920x1080 и 1366x768 */
@media (min-width: 1366px) {
    }

/*Разрешение экрана: 1536x864 и 1440x900 */
@media (max-width: 1365px) {
    .headerTextMob {
        font-size: 20px;
    }
    .headerText {
        font-size: 20px;
    }
    .headerContact {
        font-size: 18px;
        width: 40%;
        -webkit-flex-grow: initial;
        padding-right: 0px;
    }
    .logo {
        width: 60%;
        height: 60%;
    }
    .headerIntOutButton {
        font-size: 15px;
        /*text-align: right;*/
    }
    .content {
        font-size: 80%;
    }
    footer {
        font-size: 20px;
        background: rgba(23, 39, 121, 0.34);
    }
}

@media (max-width: 870px) {
    header {
        height: 60px;
    }
    .headerText {
        font-size: 16px;
    }
    .headerTextMob {
        font-size: 16px;
    }
    .content {
        font-size: 50%;
    }
    .headerContact {
        font-size: 14px;
    }
    .logo {
        width: 80%;
        height: 100%;
    }
    footer {
        font-size: 16px;
        background: #eac387;
    }
}

  /* Разрешение экрана: 360x640 */
@media (max-width: 767px) {
    header {
        height: 30px;
        padding: 5px 10px;
    }
    .logo {
        width: 100%;
        height: 30px;
    }
    .contact {
        display: none;
    }
    .headerText {
        display: inline;
        align-self: flex-start;
        font-size: 15px;
    }
    .headerContact {
        width: auto;
    }
    .headerTextMob {
        display: none;
    }
    .headerIntOutButton {
        font-size: 15px;
        height: 30px;
    }
    footer {
        font-size: 12px;
        background: #8fe790;
    }
}